body { background-color: #FFFFFF;
        color: #a52f85; /*(15*16+5, 2*16+15, 16*8+5) (245, 47, 133)*/
		background-image: url(ProjectPictures/sakura23.gif);
		font-family: Arial, Helvetica, sans-serif; 

}

#header h1 { background-color: #123e1e;
        color: #FFFFFF; 
		margin-bottom: 0;
		padding: 10px 20px;
		font-family: Georgia, "Times New Roman", serif; 
		background-image: url(ProjectPictures/headerpic.jpg);
		background-position: right;
		background-repeat: no-repeat;
}


h2{ color: #2fa43f;/* (2*16+15, 10*16+4, 3*16+15) (47, 164, 63) */
		font-family: Georgia, "Times New Roman", serif;
		text-shadow: 1px 1px 1px #ccc;
		margin-left: 5px;
		margin-top: 10px;
}

h3 { color: #2fa43f;
		font-family: Georgia, "Times New Roman", serif;
		text-shadow: 1px 1px 1px #ccc;
		margin-left: 10px;
}

dt { margin-left: 5px;
		margin-top: 10px;
}

p { margin-left: 10px;}

#indent p {	text-indent: 50px;}

dd{ margin-left: 15px; }

.myEmphasis { font-weight: bold; 
				font-size: 1.5em;
}
.myEmphasis2 { font-weight: bold; 
				font-size: 1.2em;
}



#nav { padding: 20px 20px 5px 20px;
		font-weight: bold; 
		float: left;
		width: 300px;
}

#nav ul { list-style-type: none;
		margin: 0;
		padding-left: 0;
		font-size: 1.0em;
}

#nav a { text-decoration: none; }

#nav a:link { color: #000033; }

#nav a:visited { color: #000033; }

#nav a:hover { color: #ffffff; }

#nav a:active { color: #FF0000; }


.myComment { color: #ffffff;
		font: bold 1.0em Arial, sans-serif;
		background-color: #2fa43f;
		border: 1px solid #000000;
		padding: 5px 10px;
		/*margin-left:auto;
		margin-right:auto;*/
		width: 35%;
		min-width:350px;
		float: right;
		text-indent: 50px;
		/*margin-left: 600px;
		z-index:1;*/
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
}

h4 { color: #ffffff;
		font-family: Georgia, "Times New Roman", serif; 
		background-color: #2fa43f;
		border: 1px solid #000000;
		padding: 5px 10px;
		margin-left:auto;
		margin-right:auto;
		text-indent: 50px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
}

#wrapper { margin-left:auto;
			margin-right:auto;
			width: 85%;
			min-width: 900px;
			background-image: url(ProjectPictures/woodnavibackground.jpg);
			-webkit-box-shadow: 15px 15px 15px #000033;
			-moz-box-shadow: 15px 15px 15px #000033;
			box-shadow: 15px 15px 15px #000033; 
}

#content { padding: 1px 20px 20px 30px;
			background-color: #ffffff;
			margin-left: 175px;
			margin-left:auto;
			margin-right:auto;
			overflow: auto;
}
				
#content ul { list-style-position: inside; }		
				
#footer { font-size: 80%;
			font-style: italic;
			font-family: Georgia, "Times New Roman", serif; 
			text-align: center;
			/*clear: both;*/
			margin-left: auto;
			margin-right: auto;
}

.clearleft { clear: left; }

.clearright { clear: right; }

.figure1 { color: #2fa43f;
		   float: left;
           width: 320px;
		   margin: 25px;
		   text-align: center;
		   font-size: .8em;
		   font-style: italic;
		   /*position: absolute;
		   top: 550px;
		   left: 950px;*/
		   display: block;

}


#pictures1{ float: left;
			margin: 10px;
			
			display: inline;
}


/*  table cascading style sheet  */
table { margin: auto; width: 750px;  border:1px solid #3399cc; border-spacing: 10; }

td, th { padding: 5px; border: 1px solid #3399cc;  text-align: center; }



.text { text-align: left; }

tr:nth-of-type(odd) { background-color: #ccffcc; }

caption { font-size: large; font-weight: bold; }
/* end of table css */

/* form css */
#myForm { background-color: #eaeaea;
	font-family: Arial, sans-serif;
	width: auto; 
}

label { float: left;
		width: 200px;
		text-align: right;
		padding-right: 10px;
		margin-top: 10px;
}

input, textarea { margin-top: 10px;}

#NotBad { margin-top: 14px; }	
	
#Rome,#Illness,#Practice,#Winner,#NoPain,#Seeing,#Exception { margin-top: 13px;
															margin-left: 215px;}
														
#mySubmit { margin-left: 209px;
			padding-bottom: 40px;
}
/* end of form css*/

/* multimedia css */
#content img, #content video, #content embed { float: left;
											text-align: center;
 }
/* end of multimedia css */



/* pic gallery css */
#gallery { position: relative; }

#gallery ul { list-style-type: none;
			width: 570px; 
}
			
#gallery li { display: inline; 
			float: left;
			padding: 10px; 
}
	 
#gallery img { border-style: none; 
				float: none;
				padding: 0;
				-webkit-box-shadow: 5px 5px 5px #000033;
				-moz-box-shadow: 5px 5px 5px #000033;
				box-shadow: 5px 5px 5px #000033; 
}

#gallery a { text-decoration: none;
             font-style: italic;  
             color: #2fa43f;
}

#gallery span { display: none; }

#gallery a:hover span { display: block;     
						position: absolute;
						padding: 10px;
						top: 190px;
						left: 500px; 
						text-align: center;

}

/* pic gallery for boast of boasts */
#gallery2 { position: relative; 
}

#gallery2 ul { list-style-type: none;
			width: 570px; 
}
			
#gallery2 li { display: inline; 
			float: left;
			padding: 10px; 
}
	 
#gallery2 img { border-style: none; 
				float: none;
				padding: 0;
				-webkit-box-shadow: 5px 5px 5px #000033;
				-moz-box-shadow: 5px 5px 5px #000033;
				box-shadow: 5px 5px 5px #000033; 
}

#gallery2 a { text-decoration: none;
             font-style: italic;  
             color: #2fa43f;
}

#gallery2 span { display: none; }

#gallery2 a:hover span { display: block;     
						position: absolute;
						padding: 10px;
						top: 0px;
						left: 540px; 
						text-align: center;
}
/* end of pic gallery css */

/* pic gallery for boast of boasts */
#gallery3 { position: relative;}

#gallery3 ul { list-style-type: none;
			width: 400px; 
}
			
#gallery3 li { display: inline; 
			float: left;
			padding: 10px; 
}
	 
#gallery3 img { border-style: none; 
				float: none;
				padding: 0;
				-webkit-box-shadow: 5px 5px 5px #000033;
				-moz-box-shadow: 5px 5px 5px #000033;
				box-shadow: 5px 5px 5px #000033; 
}

#gallery3 a { text-decoration: none;
             font-style: italic;  
             color: #2fa43f;
}

#gallery3 span { display: none; }

#gallery3 a:hover span { display: block;     
						position: absolute;
						padding: 10px;
						top:  -50px;
						left: 500px; 
						text-align: center;
}
/* end of pic gallery css */

canvas { border: 2px solid #2fa43f;
		margin-left: 10px;
		padding: 10px;
}

#content-left { float: left;
				text-align: left;
				
				/*padding: 5px;
				min-width: 300px;	
				width: 350px; 
				width: auto;
				overflow: auto;*/
				margin-left:auto;
				margin-right:auto;
				
				
				}		
				
#content-left2 { float: left;
				text-align: left;
				/*width: 350px; */
				padding: 1px;
				width: 55%;
}
				
#content-right2 { float: right;
				text-align: left;
				/*width: 350px; */
				padding: 1px;
				width: 40%;
}



/*Dropdown navigation area*/
#nav {
    font-size: 1em; 
    width: 220px;
}
#nav ul {
    margin: 0; 
    padding: 0;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
#nav li {
    list-style-type: none;
}
#nav a {
    color: #000;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;                  
    text-decoration: none;
    width: 100%;
}
#nav a:hover{
    text-decoration: none;
}
#nav li:hover {
    background: #2fa43f;
    position: relative;
}

/*Top Level of Navi Area*/ 
ul.top-level {
    background-color: #fff;
}
ul.top-level li {
    border-bottom: 1px solid #aaa;
}


/*Second Level of Navi Area*/
ul.sub-level {
    display: none;
}
li:hover .sub-level {
    border: 3px solid #aaa;
    display: block;
    position: absolute;
    left: 140px;
    top: -20px;
}
ul.sub-level li {
    border: none;
    float: left;
    width: 90px;
}

/*Second Level of Navi Area*/
#nav .sub-level {
    background-color: #fff;
}
